@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    height: 100vh;
}

main{
    height: 93%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calc{
    background-color:#da92f4;
    border: 3px solid black;
    border-radius: 15px;
}

.tela{
    background-color: #e3cbec;
    border: 2px solid black;
    border-radius: 5px;
    text-align: right;
    padding: 10px 20px;
    margin: 15px;
}

.apaga{
    margin: 0 15px 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.teclado {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    padding: 5px 15px 15px 15px;
    min-width: 300px;
}

button {
    padding: 7px;
    font-size: 20px;
    color: #f5f5f5;
    margin: 5px;
    border-radius: 8px;
    cursor: pointer;
    border: 2px solid;
    background-color: transparent;
}

.footerBar {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
    color: #f5f5f5;
    background-color: #1f2937;
}